* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	text-align: center;
	font-family: 'Lato'
}

header, article, div, span, figure{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}

header {
	color: rgb(255,255,255);
	width: 100%;
	height: 80px;
	background: rgb(0,0,0);
}

header a {
	top: 4px;
	position: absolute;
	text-decoration: none;
	color: rgb(255,255,255);
}

header div.ba {
	text-align: center;
	background: rgb(200,45,10);
	width: 300px;
	float: right; 
	height: 80px;
}

header div {
	width: 100px;
	font-size: 2em;
	vertical-align:middle;
}

header figure {
	width: 200px;
}

section#avazado #departamento{
	background: green;
}

section#body {
	margin: 100px auto;
	width: 400px;
}

section#body figure {
	width: 100%;
}

section#body input[type='text'] {
	width: 69%;
	height: 30px;
}

section#body input[type='submit'] {
	width: 20%;
	height: 30px;
}

section#result {
	text-align: justify;
}

section#result input[type='text'] {
	width: 300px;
	height: 30px;
}

section#result input[type='submit'] {
	width: 20%;
	height: 30px;
}

.r {
	cursor: pointer;
	min-height: 50px;
	padding: 5px 5px;
	margin-top: 2.5px;
	width: : 100%;
}

.r a{
	color: black;
	text-decoration: none;
}

.r span {
	width: 100%;
}

.r span:nth-child(4n+2), .r span:nth-child(4n+3) {
	width: 45%;
}

section#result_id table {
	border-collapse:collapse;
	width: 100%;
	text-align: justify;
}
section#result_id table,th,tr, td {
	border: 1px solid black;
	height: 75px;
	padding: 5px;
}

section#avanzado {
	background: #ccc;
	text-align: justify;
	padding: 1.5%;
}

section#avanzado div{
	width: 24.5%;
	margin-top: 10px;
}

section#avanzado div select{
	width: 60%;
	float: right;
}

section#avanzado section{
	display: inline-block;
	vertical-align: top;
	border: 1.5px solid white;
	padding: .5%;
	margin-top: 15px;
	min-height: 200px;
}

section#avanzado section#niveles {
	width: 30%;
}

section#avanzado section#modelos {
	width: 65%;
}

section#avanzado section#reporte{
	width: 99%;
}

section#avanzado section#niveles div,
section#avanzado section#modelos div,
section#avanzado section#reporte div {
	float: left;
	position: relative;
	padding: .7%;
	height: 25px;
}

section#avanzado section#niveles div input[type='checkbox'],
section#avanzado section#modelos div input[type='checkbox'],
section#avanzado section#reporte div input[type='checkbox'] {
	float: right;
}

section#avanzado section#niveles div {
	width: 45%;
}

section#avanzado section#modelos div {
	width: 41%;
	height: 25px;
}

section#avanzado section#niveles label,
section#avanzado section#modelos label, 
section#avanzado section#reporte label{
	text-align: center;
	position: relative;
	background: #ccc;
	height: 15px;
	float: left;
	width: 20%;
	margin-top: -15px;
}

section#avanzado section#reporte input[type='submit']{
	width: 150px;
	height: 40px;
	background: none;
	border: 2px solid white;
	position: relative;
	right: -30px;
	top: 75px;
	font-weight: bold;
	font-size: 16px;
}


