!!! 5
html(lang="es")
	head
		title Busqueda Avanzada
		link(rel="stylesheet", type="text/css", href!="{{ STATIC_URL }}css/style.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato")
		script(type="text/javascript", src!="{{ STATIC_URL }}js/jquery.min.js")
		script(type="text/javascript", src!="{{ STATIC_URL }}js/script.js")
	body
		header
			figure
				img(src != "{{ STATIC_URL }}img/logo.png", alt="Logo", width="100%", height="100%" )
			div 
				p CloudSearch
			div.ba
				a(href="/", title="Busqueda Basica") Busqueda Basica
		section#avanzado
			form( method="POST", action="")
				{% csrf_token %}
				p Selecciona tus parametros de busqueda
				div Departamentos
					select(name="departamento",id="departamento")
						{% for d in departamentos %}
						option(value!="{{ d.nombre }}", data-id!="{{ d.id }}") {{ d.nombre }}
						{% endfor %}
				div Municipios
					select(name="municipio", id='municipio')
						option(value="") ----------
						{% for m in municipios %}
						option(value!="{{ m.nombre }}" ) {{ m.nombre }}
						{% endfor %}
				div Sector
					select(name="sector")
						option(value="") -----------
						option(value="OFICIAL",) Oficial
						option(value="NO OFICIAL") No Oficial
				div Zona	
					select(name="zona")
						option(value="") -----------
						option(value="RURAL" ) Rural
						option(value="URBANA" ) Urbana
				section#niveles
					label Niveles
					div Pre-escolar
						input(type="checkbox", name="niveles",value="PREESCOLAR") 
					div Basica primaria
						input(type="checkbox",  name="niveles",value="PRIMARIA") 
					div Secundaria
						input(type="checkbox",  name="niveles",value="SECUNDARIA") 
					div Media
						input(type="checkbox",  name="niveles",value="MEDIA") 
					div Primera infancia
						input(type="checkbox",  name="niveles",value="INFANCIA") 
				section#modelos
					label Modelos Educativos
					div Post primaria
						input(type="checkbox", name="modelos",value="POST PRIMARIA") 
					div Programa Para Jóvenes En Extraedad y Adultos
						input(type="checkbox", name="modelos",value="PROGRAMA PARA JÓVENES EN EXTRAEDAD Y ADULTOS") 
					div Educación tradicional
						input(type="checkbox", name="modelos",value="EDUCACIÓN TRADICIONAL") 
					div Escuela nueva
						input(type="checkbox", name="modelos",value="ESCUELA NUEVA") 
					div Etno-Educación
						input(type="checkbox", name="modelos",value="ETNOEDUCACIÓN")
					div Aceleración del aprendizaje
						input(type="checkbox", name="modelos",value="ACELERACIÓN DEL APRENDIZAJE")
					div Cafam
						input(type="checkbox", name="modelos",value="CAFAM")
				section#reporte
					label Selecciona los campos del reporte
					div Nombre institución
						input(type="checkbox", name="reporte[]",value="nombre")
					div departamento
						input(type="checkbox", name="reporte[]",value="departamento")
					div municipio
						input(type="checkbox", name="reporte[]",value="municipio")
					div dirección
						input(type="checkbox", name="reporte[]",value="direccion")
					div teléfono
						input(type="checkbox", name="reporte[]",value="telefono")
					div E-mail
						input(type="checkbox", name="reporte[]",value="email")
					div tipo de establecimiento
						input(type="checkbox", name="reporte[]",value="tipo") 
					div zona
						input(type="checkbox", name="reporte[]",value="zona")
					div jornadas
						input(type="checkbox", name="reporte[]",value="jornadas")
					div niveles
						input(type="checkbox", name="reporte[]",value="niveles")
					div calendario
						input(type="checkbox", name="reporte[]",value="calendario")
					div rector
						input(type="checkbox", name="reporte[]",value="rector")
					input(type="submit",value="Buscar & Generar",name="Enviar")

