<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>PDF</title>
</head>
<body>
	<table>
		<tr>
			<td>Numero</td>
			{% for r in reporte %}
			<td>{{ r.upper }}</td>
			{% endfor %}
		</tr>
		{% for c in cols %}
		<tr>
			<td> {{   forloop.counter }}</td>
				{% for r in reporte %}
					{% if r == 'nombre' %}
						<td> {{  c.nombre }}</td>
					{% endif %}
					{% if r == 'departamento' %}
						<td>{{ c.departamento }}</td>
					{% endif %}
					{% if r == 'municipio' %}
						<td>{{ c.municipio }}</td>
					{% endif %}
					{% if r == 'direccion' %}
						<td>{{ c.direccion }}</td>
					{% endif %}
					{% if r == 'telefono' %}
						<td>{{ c.telefono }}</td>
					{% endif %}
					{% if r == 'email' %}
						<td>{{ c.email }}</td>
					{% endif %}
					{% if r == 'tipo' %}
						<td>{{ c.tipo }}</td>
					{% endif %}
					{% if r == 'zona' %}
						<td>{{ c.zona }}</td>
					{% endif %}
					{% if r == 'jornadas' %}
						<td>{{ c.jornadas }}</td>
					{% endif %}
					{% if r == 'niveles' %}
						<td>{{ c.niveles }}</td>
					{% endif %}
					{% if r == 'calendario' %}
						<td>{{ c.calendario }}</td>
					{% endif %}
					{% if r == 'rector' %}
						<td>{{ c.rector }}</td>
					{% endif %}					
				{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{# <pdf:nextpage> #}
</body>
</html>