!!! 5
html(lang="es")
	head
		title Resultados
		meta( name="tipo_contenido",  content="text/html;", http-equiv="content-type", charset="utf-8")
		link(rel="stylesheet", type="text/css", href!="{{ STATIC_URL }}css/style.css")
	body
		header
			figure
				img(src != "{{ STATIC_URL }}img/logo.png", alt="Logo", width="100%", height="100%" )
			div 
				p CloudSearch
			div.ba
				a(href="/schools/avanzado", title="Busqueda Avanzada") Busqueda Avanzada
		section#result_id
			table
				tr
					td Secretaria:  {{ c.0.secretaria }}
					td(colspan="2") Departamento:  {{ c.0.cod_dep }} - {{ c.0.departamento }}
					td(colspan="2") Municipio:  {{ c.0.cod_mun }} - {{ c.0.municipio }}
				tr
					td Codigo:  {{ c.0.codigo }}
					td Nombre:  {{ c.0.nombre }}
					td Direccion:  {{ c.0.direccion }}
					td Telefono:  {{ c.0.telefono }}
					td Rector:  {{ c.0.rector }}
				tr
					td(colspan="2") Tipo:  {{ c.0.tipo }}
					td(colspan="2") Sector:  {{ c.0.sector }}
					td Zona:  {{ c.0.zona }}
				tr
					td Jornadas:  {{ c.0.jornadas }}
					td Niveles:  {{ c.0.niveles }}
					td Grados:  {{ c.0.grados }}
					td(colspan="2") Modelos Educativos:  {{ c.0.modelos_educativos }}
				tr
					td(colspan="2") Capacidades Excepcionales:  {{ c.0.capacidades_excepcionales }}
					td(colspan="2") Discapacidades:  {{ c.0.discapacidades }}
					td Idiomas:  {{ c.0.idiomas }}
				tr
					td Numero De Sedes:  {{ c.0.numero_sedes }}
					td Estado:  {{ c.0.estado }}
					td Calendario:  {{ c.0.calendario }}
					td(colspan="2") email:  {{ c.0.email }}